[submodule "tabular"]
	path = tabular
	url = https://github.com/godlygeek/tabular.git
[submodule "bundle/snipmate.vim"]
	path = bundle/snipmate.vim
	url = https://github.com/caike/snipmate.vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/SirVer/ultisnips.git
